<div id="index">
  <h1>Create a <em>Virtual Cheque</em></h1>
  <div id="about">
    <p>Want to send money without sending <em>actual</em> money?</p>
  </div>
  <div id="about-large">
    <h2>Tired of sending <em>actual</em> money?</h2>
    <p>Why not try a <strong>Virtual Bank Cheque</strong> instead?<br />
      Backed by the reputable LiamBank you can<br />
      send your payments anywhere in the world electronically.<br />
      You can literally <em>print</em> money!</p>
    <p>Too good to be true?  Probably, but for now let's continue...</p>
  </div>
  <div>
    <h2>Enter your cheque details below</h2>
    <%= render './cheques/form' %>
  </div>
</div>