<div>
  <div id="welcome">
    <h1>Welcome the Bank of Liamkun!</h1>
    <p>リアム君銀行へようこそ！</p>
  </div>
  <div id="about">
    <h2>Looking for an easier way to pay?</h2>
    <p>Tired of having to send people <i>actual</i> money?  Why not send a <b>Virtual Bank Cheque</b> instead?  Backed by the reputable Bank of Liamkun you can send your payments anywhere in the world electronically.  You can literally <i>print</i> money!
    <p>Sound too good to be true?  It probably is, but for now let's continue...</p>
  </div>
  <div id="create">
    <h2>Enter the details of the payment you would like to make</h2>
    <%= render './cheques/form' %>
  </div>
</div>