<div>
  <div class="box" id="about">
    <h2>Tired of having to send people <i>actual</i> money?</h2>
    <p>Why not send a <b>Virtual Bank Cheque</b> instead?<br />
      Backed by the reputable Bank of Liamkun you can<br />
      send your payments anywhere in the world electronically.<br />
      You can literally <i>print</i> money!</p>
    <p>Sound too good to be true?  Probably, but for now let's continue...</p>
  </div>
  <div class="box" id="create">
    <h2>Enter the details of the payment you would like to make</h2>
    <%= render './cheques/form' %>
  </div>
</div>