<div>
  <div class="box" id="about">
    <h2>Tired of sending <i>actual</i> money?</h2>
    <p>Why not try a <b>Virtual Bank Cheque</b> instead?<br />
      Backed by the reputable Bank of Liamkun you can<br />
      send your payments anywhere in the world electronically.<br />
      You can literally <i>print</i> money!</p>
    <p>Too good to be true?  Probably, but for now let's continue...</p>
  </div>
  <div class="box" id="create">
    <h2>Enter your cheque details below</h2>
    <%= render './cheques/form' %>
  </div>
</div>