// Place all the styles related to the Cheques controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Cheque Form */
/* Hack to ensure that this field is as wide as fields with 'input-append' */
#recipient-field {
  width: 234px;
}
/* Hack to left align the datepicker input (don't know why this 
  style is in the original CSS) */
div.datepicker {
  padding: 0;
}

/* Cheque Index */
#cheques-table {
  /* Table is no longer a table! 
   * http://css-tricks.com/responsive-data-tables/ 
   */
  table, thead, tbody, tfoot, th, td, tr { 
    display: block; 
  }
  thead {
    /* Hide the headers */
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr { 
    border: 0.0625em solid #ccc; 
  }  
  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 0.0625em solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0.375em;
    left: 0.375em;
    width: 45%; 
    padding-right: 0.625em; 
    white-space: nowrap;
  }

  tbody {
    /* Label the data */
    td:nth-of-type(1):before { content: "#"; }
    td:nth-of-type(2):before { content: "Date"; }
    td:nth-of-type(3):before { content: "Recipient"; }
    td:nth-of-type(4):before { content: "Value"; }
    td:nth-of-type(5):before { content: "Actions"; }
  }
}

/* Tighten up the show/edit/delete icons */
#cheque-actions {
  margin: 0;

  a.btn {
    padding: 0.125em 0.5em;

    span {
      /* Hide the text. */
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

/* Cheque Show */
#cheque {
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px #222;
  font-size: 1.25em;
  margin: 0 auto 2em;

  #header-row, #footer-row {
    margin: 0;
  }

  .row {
    margin: 0 0 1em 0;
  }

  #cheque-inner {
    background-image: asset-url('embossed_paper_@2X.png');
    clear: both;
    padding: 1em;
  }

  #bank-logo {
    float: right;
    line-height: 60px;
    margin-right: 1em;
    text-align: right;

    span {
      /* Hide the text. */
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  #cheque-id {
    font-family: Iceland, monospace;
    font-weight: bold;
    letter-spacing: 0.2em;
    line-height: 2em;
  }
  
  .underlined {
    border-bottom: 1px solid #222;
  }

  #cheque-value {
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 1.5em;
    line-height: 1.75em;
  }

  #cheque-value-words {
    p {
      font-size: 1em;
      margin-bottom: 1em;
    }
  }
}

#actions {
  clear: both;
}