// Place all the styles related to the Cheques controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Hack to ensure that this field is as wide as fields with 'input-append'
#recipient-field {
  width: 234px;
}
/* Tighten up the show/edit/delete icons */
#cheque-actions {
  margin: 0;

  a.btn {
    padding: 2px 8px;

    span {
      /* Hide the text. */
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}