@import "bootstrap";

body {
  font-family: Oxygen, sans-serif !important;
  padding-top: 4em;
}

#branding {
  a {
    color: #8a9f46;

    &:hover, &:focus {
      font-weight: bold;
    }
  }
  img {
    display: none;
    padding-right: 0.5em;  
  }
}

a {
  color: #333;

  &:hover, &:focus {
    color: #8a9f46;
    text-decoration: none;
  }
}

tfoot {
  td {
    font-weight: bold;
  }
}

.box {
  background-color:  #ddd;
  -moz-border-radius: 1em;
  border-radius: 1em;
  box-shadow: 0.5em 0.5em 0.5em #666;
  margin: 1em;
  padding: 1em;
  width: 35em;

  h2 {
    color: #353533;
    font-size: 1.25em;
    margin: 0;
  }
  p {
    color: #666;
    font-size: 1em;
    margin-left: 1em;
  }
}