@import "bootstrap";

body {
  font-family: Oxygen, sans-serif !important;
  font-size: 1em;
  line-height: 1.25em;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.1em; }

header {
  background-image: linear-gradient(to bottom, #fff, #dad0f5);
  border-top: 0.25em solid #160347;
  border-bottom: 0.1em solid #dad0f5;

  a {
    text-decoration: none;
    
    &:hover, &:focus {    
      color: #dad0f5;
      text-decoration: none;
    }
  }

  nav {
    float: left;

    a {
      color: #37295c;
      display: inline-block;
      padding: 0.5em;

      &:hover, &:focus {
        background-color: #a282f5;
        color: #dad0f5;
      }
    }
  }

  #branding {
    background-color: #361390;
    float: right;
    padding: 0.5em;

    a {
      color: #a282f5;

      &:hover, &:focus {
        font-weight: bold;
      }
    }
    img {
      display: none;
      padding-right: 0.5em;  
    }
  }
}

#content {
  margin: 0 auto;
  padding: 0.375em;
  width: 19.25em;

  @media screen and (min-width: 37.5625em) {
    width: 36.75em;
  }
}

#index {
  h1, h2 {
    text-align: center;
  }
}

#about {
  p {
    font-size: 0.85em;
  }
}

#about-large { 
  display: none;
}

tfoot {
  td {
    font-weight: bold;
  }
}

.box {
  background-color:  #ddd;
  -moz-border-radius: 1em;
  border-radius: 1em;
  box-shadow: 0.5em 0.5em 0.5em #666;
  margin: 1em;
  padding: 1em;
  width: 35em;

  h2 {
    color: #353533;
    font-size: 1.25em;
    margin: 0;
  }
  p {
    color: #666;
    font-size: 1em;
    margin-left: 1em;
  }
}

/* Clearfix - don't care about IE6/7 */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}